.tagline-call-btn{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.tagline {
  font-family: "Gilroy", sans-serif;
  font-size: 75px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  line-height: 80px;
}

.cursive {
  font-family: "Miniver", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(90deg, #1C59FB, #D614E6, #F1041C);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: transparent; 
}

.callFeatures{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(146, 146, 146);
  margin-top: 40px;
  width: 400px;
  font-weight: 400;
  line-height: 30px;
}