.tagline-call-btn{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.tagline {
  font-family: "Gilroy", sans-serif;
  font-size: 75px;
  font-weight: normal;
  font-style: normal;
  display: flex;
  flex-direction: column;
  width: 550px;
  line-height: 80px;
}

.callFeatures{
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(146, 146, 146);
  margin-top: 40px;
  width: 400px;
  font-weight: 400;
  line-height: 30px;
}